.col-md-6{

}
.row{
  min-width: 100%;
}
.container{
  position: fixed;
  left: 0px;
  padding: 3%;
  z-index: 999;
  width: 100%;
  top: 64px;
  max-width: 100%;
  max-height: calc(100% - 64px);
  height:  calc(100% - 64px);
}
mat-card{
  width: 100%;
  margin: 20px;
  margin-right: 20px;
  margin-top: 20px;
}

mwl-gauge {
  width: 150px;
  height: 150px;
  display: block;
  padding: 10px;
}
mwl-gauge > .gauge > .dial {
  stroke: #eee;
  stroke-width: 2;
  fill: rgba(0,0,0,0);
}
mwl-gauge > .gauge > .value {
  stroke: rgb(47, 227, 255);
  stroke-width: 2;
  fill: rgba(0,0,0,0);
}
mwl-gauge > .gauge > .value-text {
  fill: rgb(47, 227, 255);
  font-family: sans-serif;
  font-weight: bold;
  font-size: 1em;
}
ngx-gauge{
  display: table;
  margin: 0 auto;
}
mat-slider{
  width: calc(100% - 40px);
  position: absolute;
  top: 320px;
}
h1{
  font-size: 300%;
  color: #098e0d;
}
.balance{
  font-size: 250%;
  font-weight: bold;
  color: #7c7c7c;
}
.button-1{
  display: table;
  margin: 0 auto;
  position: absolute;
  top: 380px;
}
p:empty {
  width: 100px;
  height: 20px;
}
.padding{
  top: 330px;
  position: absolute;
}
button{
  margin-bottom: 10px;
}
mat-form-field{
  margin-right: 20px;
}

.mat-table {
  width: 100%;
}

.list{
  max-width: 100%;
  margin-left: 0px;
  margin-right: 0px;
  height: 100%;
  float: left;

  display:inline-block;
}
.example-container {
  position: relative;
  height: calc(100% - 20px);
  width: 100%;
  overflow: auto;
  display:inline-block;
  margin-top: 20px;
}
.first {
  height: calc(100% - 550px);
}
.auction{
  font-size: 150%;
  font-weight: bold;
  color: #7c7c7c;
}
p {
  color: #7c7c7c;
}
.interval{
  font-size: 200%;
  font-weight: bold;
  color: #7c7c7c;
}
.klein{
  height: 50%;
}
.right {
  position: absolute;
  top: 80px;
  right: 30px;
  font-size: 350%;
  font-weight: bold;
  color: #7c7c7c;
}
.full {
  height: 100%;
}
.button-new {
  align: middle;
}
h2 {
  color: #7c7c7c;
}
img {
  height: 80%;
  position: absolute;
  top: 30px;
  right: 30px;
}
p {
  font-size: 140%;
}
.mat-cell {
  font-size: 16px;
}
.mat-header-cell {
  font-size: 16px;
}
.mat-raised-button {
  font-size: 20px;
}
.mat-form-field {
  font-size: 20px;
}
